In [3]:
# Importing Libraries for parfume project
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import ast

In [4]:
# Loading out dataset
all_parfumes = pd.read_csv('frag_dataset.csv')

In [5]:
# Overview

all_parfumes.sample(10)

,brand,perfume,image,launch_year,main_accords,notes,longevity,sillage
24373,Omnia Profumi,Onice,o.9535.jpg,2005.0,"[""sweet"", ""fresh spicy"", ""soft spicy"", ""aromat...","[""Citruses"", ""Anise"", ""Lavender"", ""Licorice"", ...","[""0"", ""1"", ""1"", ""1"", ""2""]","[""1"", ""4"", ""0"", ""1""]"
15747,Juliette Has A Gun,Calamity J,o.6856.jpg,2009.0,"[""amber"", ""musky"", ""powdery"", ""warm spicy"", ""b...","{""middle"": [""iris"", ""Iso E Super""], ""base"": [""...","[""9"", ""9"", ""40"", ""14"", ""5""]","[""31"", ""40"", ""12"", ""13""]"
35590,Shiseido,Dignita,o.12480.jpg,1998.0,"[""white floral"", ""tuberose"", ""woody"", ""musky"",...","{""middle"": [""Jasmine"", ""White Flowers"", ""Tuber...","[""0"", ""2"", ""0"", ""1"", ""1""]","[""0"", ""1"", ""0"", ""4""]"
727,Aramis,Aramis Ice,o.119.jpg,2003.0,"[""woody"", ""balsamic"", ""aromatic"", ""citrus"", ""f...","[""Aldehydes"", ""Orange"", ""Amber"", ""Sandalwood"",...","[""0"", ""1"", ""1"", ""1"", ""1""]","[""1"", ""2"", ""2"", ""2""]"
14561,Guerlain,Un Air de Samsara,o.3826.jpg,1995.0,"[""green"", ""aromatic"", ""white floral"", ""fresh s...","{""middle"": [""Jasmine"", ""Narcissus""], ""base"": n...","[""3"", ""3"", ""12"", ""4"", ""2""]","[""4"", ""13"", ""5"", ""4""]"
27203,Lush,29 High Street,o.39761.jpg,2013.0,"[""sweet"", ""fruity"", ""sour"", ""green"", ""caramel""...","[""Green Notes"", ""Floral Fruity Notes"", ""Sweet ...","[""0"", ""0"", ""0"", ""1"", ""0""]","[""0"", ""0"", ""2"", ""0""]"
27090,Laurelle London,Butterfly Kisses,o.37270.jpg,NaN,NaN,NaN,"[""0"", ""0"", ""0"", ""0"", ""0""]","[""0"", ""0"", ""0"", ""0""]"
37280,PanVel,Musk Inspirador,o.38597.jpg,2015.0,"[""floral"", ""fruity"", ""green"", ""fresh spicy"", ""...","[""Musk"", ""Freesia"", ""Green Apple""]","[""0"", ""0"", ""0"", ""0"", ""0""]","[""0"", ""0"", ""0"", ""0""]"
8819,Slumberhouse,Kiste,o.31278.jpg,2015.0,"[""sweet"", ""fruity"", ""honey"", ""tobacco"", ""aroma...","[""Tobacco"", ""Peach"", ""heather"", ""Tonka Bean"", ...","[""3"", ""2"", ""6"", ""18"", ""40""]","[""8"", ""24"", ""29"", ""21""]"
4382,Ellen Tracy,Peony Rose,o.12638.jpg,NaN,"[""floral"", ""fresh"", ""rose"", ""white floral"", ""a...","[""Gardenia"", ""Peony""]","[""1"", ""1"", ""4"", ""2"", ""0""]","[""1"", ""6"", ""1"", ""0""]"

In [6]:
# removing columns that we don't need for the analysis

all_parfumes_cleaned = all_parfumes.drop(columns=['image', 'longevity', 'sillage'])

all_parfumes_cleaned

,brand,perfume,launch_year,main_accords,notes
0,18 21 Man Made,Sweet Tobacco Spirits,2016.0,"[""wine"", ""vanilla"", ""sweet"", ""woody"", ""aromatic""]","[""Citruses"", ""Saffron"", ""Tonka Bean"", ""Vanilla..."
1,40 Notes Perfume,Cashmere Musk,NaN,"[""woody"", ""musky"", ""balsamic"", ""powdery"", ""war...","[""Sandalwood"", ""Cedar"", ""White Musk"", ""Cashmer..."
2,40 Notes Perfume,Exotic Ylang Ylang,NaN,"[""yellow floral"", ""white floral"", ""sweet"", ""mu...","[""Ylang-Ylang"", ""Gardenia"", ""Musk""]"
3,40 Notes Perfume,Exquisite Amber,NaN,"[""balsamic"", ""vanilla"", ""amber"", ""musky"", ""war...","[""Labdanum"", ""Styrax"", ""Benzoin"", ""Vanilla"", ""..."
4,40 Notes Perfume,Oudwood Veil,NaN,"[""oud"", ""amber"", ""fresh spicy"", ""balsamic"", ""w...","[""Kephalis"", ""Agarwood (Oud)""]"
...,...,...,...,...,...
37921,Urban Rituelle,Lemongrass Blend,NaN,"[""citrus"", ""fresh spicy"", ""aromatic"", ""herbal""...","[""Lemongrass"", ""Myrtle"", ""Grapefruit"", ""Eucaly..."
37922,Urban Rituelle,Peach Blossom,NaN,"[""sweet"", ""honey"", ""white floral"", ""floral"", ""...","[""Peach"", ""Honey"", ""Sweet Pea"", ""Mimosa""]"
37923,Urban Rituelle,Pomegranate,NaN,"[""fruity"", ""citrus"", ""fresh"", ""woody"", ""sweet""...","[""Pomegranate"", ""Citruses"", ""Red Berries""]"
37924,Urban Rituelle,Vanilla,NaN,"[""vanilla"", ""caramel"", ""milky"", ""sweet"", ""powd...","[""Vanilla"", ""Caramel"", ""Milk""]"
37925,Urban Rituelle,Vanilla Blend,NaN,"[""aromatic"", ""fresh spicy"", ""vanilla"", ""floral...","[""Vanilla"", ""Lavender"", ""Geranium""]"

In [7]:
# Inspecting datatypes and null values 

all_parfumes_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37926 entries, 0 to 37925
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         37926 non-null  object
 1   perfume       37923 non-null  object
 2   launch_year   26716 non-null  float64
 3   main_accords  36957 non-null  object
 4   notes         36969 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.4+ MB

In [8]:
#Inspect Missing Values

all_parfumes_cleaned.isnull().sum()

brand               0
perfume             3
launch_year     11210
main_accords      969
notes             957
dtype: int64

In [9]:
# removing pafumes without brand data

all_parfumes_cleaned = all_parfumes_cleaned.dropna(subset=['perfume'])

all_parfumes_cleaned.isnull().sum()

brand               0
perfume             0
launch_year     11208
main_accords      969
notes             957
dtype: int64

In [10]:
#filling Null values so we can use ast function 

all_parfumes_cleaned.fillna('Unknown', inplace=True)

/var/folders/jq/9vrfyvt57yv6zsk7ddnttm3h0000gn/T/ipykernel_19381/882429132.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  all_parfumes_cleaned.fillna('Unknown', inplace=True)
/var/folders/jq/9vrfyvt57yv6zsk7ddnttm3h0000gn/T/ipykernel_19381/882429132.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_parfumes_cleaned.fillna('Unknown', inplace=True)

In [11]:
all_parfumes_cleaned.isnull().sum()

brand           0
perfume         0
launch_year     0
main_accords    0
notes           0
dtype: int64

In [12]:
# Finding unique datatypes 

print(all_parfumes_cleaned['main_accords'].apply(type).unique())
print(all_parfumes_cleaned['notes'].apply(type).unique())

[<class 'str'>]
[<class 'str'>]

In [13]:

# Convert all values to strings first
all_parfumes_cleaned['main_accords'] = all_parfumes_cleaned['main_accords'].astype(str)
all_parfumes_cleaned['notes'] = all_parfumes_cleaned['notes'].astype(str)

/var/folders/jq/9vrfyvt57yv6zsk7ddnttm3h0000gn/T/ipykernel_19381/1371075401.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_parfumes_cleaned['main_accords'] = all_parfumes_cleaned['main_accords'].astype(str)
/var/folders/jq/9vrfyvt57yv6zsk7ddnttm3h0000gn/T/ipykernel_19381/1371075401.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_parfumes_cleaned['notes'] = all_parfumes_cleaned['notes'].astype(str)

In [ ]:
# Since we have different datatypes we need to loop throught every row  

def safe_literal_eval(value):
    try: #we used --try-- insted of --if-- because we are not sure about type of date is iterated
        return ast.literal_eval(value)  # Try to convert the string to the list first
    except (ValueError, SyntaxError):  # is error then return what we had befor
        return value 

# Apply ast.literal_eval after converting everything to strings
all_parfumes_cleaned['main_accords'] = all_parfumes_cleaned['main_accords'].apply(safe_literal_eval)
all_parfumes_cleaned['notes'] = all_parfumes_cleaned['notes'].apply(safe_literal_eval)

In [15]:
# Result 

all_parfumes_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37923 entries, 0 to 37925
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         37923 non-null  object
 1   perfume       37923 non-null  object
 2   launch_year   37923 non-null  object
 3   main_accords  37923 non-null  object
 4   notes         37923 non-null  object
dtypes: object(5)
memory usage: 1.7+ MB

In [ ]:
# Function to ensure all values are lists
def ensure_list(value):
    if isinstance(value, list):
        return value  # If it's already a list, return it as is
    else:
        return [value]  # Otherwise, wrap the value in a list

# Apply the function to both 'main_accords' and 'notes' columns
all_parfumes_cleaned['main_accords'] = all_parfumes_cleaned['main_accords'].apply(ensure_list)
all_parfumes_cleaned['notes'] = all_parfumes_cleaned['notes'].apply(ensure_list)

In [25]:
# Finally everthing is list!

print(all_parfumes_cleaned['main_accords'].apply(type).unique())
print(all_parfumes_cleaned['notes'].apply(type).unique())

[<class 'list'>]
[<class 'list'>]

In [ ]:
#Clean Text Columns, all lowercase, removing whitespaces 

all_parfumes_cleaned['brand'] = all_parfumes_cleaned['brand'].str.lower().str.strip()
all_parfumes_cleaned['perfume'] = all_parfumes_cleaned['perfume'].str.lower().str.strip()

In [23]:
all_parfumes_cleaned.info()

# Cleaning is done!

<class 'pandas.core.frame.DataFrame'>
Index: 37923 entries, 0 to 37925
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         37923 non-null  object
 1   perfume       37923 non-null  object
 2   launch_year   37923 non-null  object
 3   main_accords  37923 non-null  object
 4   notes         37923 non-null  object
dtypes: object(5)
memory usage: 1.7+ MB

In [ ]:
# Saving to csv

all_parfumes_cleaned.to_csv('cleaned_frag_dataset.csv', index=False)